{% extends 'tabela_default.html' %}

{% block tabela_head %}
    {% for cabecalho in cabecalhos %}
        <th>{{ cabecalho }}</th>
    {% endfor %}
{% endblock %}

{% block tabela_body %}
    {% for tarefa in tarefas %}
        <tr>
            <td><a href="{% url 'visualizar_tarefa' tarefa.pk %}">{{ tarefa.titulo|capfirst }}</a></td>

            {% if tarefa.equipe %}
                <td>{{ tarefa.equipe }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if tarefa.prazo %} 
                <td>{{ tarefa.prazo }}</td>
            {% else %}
                <td></td>
            {% endif %}

            <td>{{ tarefa.get_status_display }}</td>
        </tr>
    {% endfor %}
{% endblock %}