{% extends 'listagem_tarefas.html' %}

{% block tabela_body %}
    {% for tarefa in tarefas %}
        <tr>
            <td><a href="{% url 'visualizar_tarefa' tarefa.pk %}">{{ tarefa.titulo|capfirst }}</a></td>

            {% if tarefa.equipe %}
                <td>{{ tarefa.equipe }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if tarefa.prazo %} 
                <td>{{ tarefa.prazo }}</td>
            {% else %}
                <td></td>
            {% endif %}

            <td>{{ tarefa.get_status_display }}</td>
            <td class="tarefa-atribuida">Atribuída a mim</td>
        </tr>
    {% endfor %}
{% endblock %}