# E-mail (Brevo)
TOKEN_API_BREVO=

# Mercado Pago
TOKEN_API_MERCADOPAGO=

# E-mail (Zoho)
REFRESH_TOKEN_ZOHO=
CLIENT_ID_ZOHO=
CLIENT_SECRET_ZOHO=
EMAIL_SUPORTE_DEFAULT=
ACCOUNT_ID_ZOHO=

# Database
DATABASE_DB_PROD=
USER_DB_PROD=
PASSWORD_DB_PROD=
HOST_DB_PROD=
PORT_DB_PROD=

# Django
SECRET_KEY=
ALLOWED_HOSTS=
DEBUG=