{% extends 'base_site.html' %}

{% block content %}
    {{ block.super }}
    <div class="container-planos-externo">
        <div class="card-plano">
            <div class="conteudo">

                <h3 class="titulo-planos">Inicial</h3>
                <p class="preco-planos">Gratuito</p>
                <p class="indicacao-plano">Ideal para pequenas empresas que estão começando. Possui algumas limitações.</p>

                <div class="lista-itens-plano">
                    <ul>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Até 10 membros</li>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Até 3 equipes</li>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Até 10 tarefas por equipe</li>
                        <li class="item-plano"><i class="fa solid fa-xmark"></i> Crescimento limitado</li>
                        <li class="item-plano"><i class="fa solid fa-xmark"></i> Prioridade no suporte</li>
                    </ul>
                </div>

                {% if gratuito %}
                    <span class="badge-plano-atual">Plano atual</span>
                {% endif %}
            </div>
            
        </div>

        <div class="card-plano">
            <div class="conteudo">

                <h3 class="titulo-planos">Escalável</h3>
                <p class="preco-planos"><span class="destaque-preco">R$</span>19,90</p>
                <p class="indicacao-plano">Perfeito para empresas em crescimento contínuo. Evolução sem limitações.</p>

                <div class="lista-itens-plano">
                    <ul>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Membros ilimitados</li>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Equipes ilimitadas</li>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Tarefas ilimitadas</li>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Suporte para crescimento</li>
                        <li class="item-plano"><i class="fa solid fa-check"></i> Prioridade no suporte</li>
                    </ul>
                </div>

                {% if gratuito %}
                    <a href="{% url 'visualizar_planos' %}" class="adquirir-plano-botao">Adquirir plano</a>
                {% else %}
                    <span class="badge-plano-atual">Plano atual</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}