*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* mensagens de erro em campos específicos (self.add_error) */
.errorlist{
    list-style: none;         
    padding: 7px 10px;
    margin-top: 5px;
    border-radius: 7px;
    background-color: #F8D7DA;
    border-left: 2px solid #9b160d;
}

.errorlist li{
    color: #9b160d;         
    font-size: 14px;
    line-height: 1.4;
}


/* sobrescrevendo messages com os alert do bs */
.alert-default{
    min-width: 500px !important;
    max-width: 800px !important;
    margin: 10px auto !important;
    font-size: 16px !important;
    border-radius: 10px !important;
    line-height: 1.3 !important;
}

.alert-danger{
    border-left: 2px solid #9b160d !important;
}

.alert-success{
    border-left: 2px solid #038834 !important;
}

.alert-info{
    border-left: 2px solid #9b160d !important;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    margin-left: 240px;
    justify-content: space-between;
    height: 60px;
    padding-right: 25px;
}

.saudacao-navbar{
    margin-left: 70px;
    font-size: 20px;
}

.navbar-icones{
    display: flex;
    gap: 10px;
}

.logout-icone{
    background-color: #cc0e01;
    border-radius: 5px;
    padding: 8px;
    color: #F2F2F2;
    text-decoration: none;
    transition: all 0.2s ease;
    border: solid 1px #cc0e01;
}

.logout-icone:hover{
    background-color: #fff;
    color: #cc0e01;
}

.perfil-icone{
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    color: #013e6f;
    text-decoration: none;
    transition: all 0.2s ease;
    border: solid 1px #013e6f;
}

.perfil-icone:hover{
    background-color: #013e6f;
    color: #fff;
}

.adicionar-participante-icone{
    font-size: 12px;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    color: #218838;
    text-decoration: none;
    transition: all 0.2s ease;
    border: solid 1px #218838;
    text-align: center;
}

.adicionar-participante-icone:hover{
    background-color: #218838;
    color: #fff;
}

/* ======= SIDEBAR ======= */

.sidebar-box{
    background-color: #1C4045;
    position: fixed;
    width: 240px;
    height: 100%;
}

.sidebar-opcoes{
    margin-top: 25px;
}

.sidebar-opcoes ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}

.sidebar-opcoes ul li{
    list-style: none;
    margin-top: 5px;
}

/* hidden até clicar */
.sidebar-submenu{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.tem-submenu.aberto > .sidebar-submenu{
    max-height: 500px;
    background-color: #18373b;
}

.sidebar-opcao-primaria{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    transition: all 0.2s ease;
}

.sidebar-opcao-primaria:hover{
    color: #1C4045;
    background-color: #fff;
}

.sidebar-opcao-primaria.selecionado{
    color: #04bd51;
}

.sidebar-submenu li a{
    display: block;
    box-sizing: border-box;
    padding: 10px 40px;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.2s ease;
}

.sidebar-submenu li a:hover{
    color: #04bd51;
}

/* css conteudo principal (block content de todas as páginas) */
.layout-conteudo-principal{
    margin-left: 240px;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}

.conteudo-principal {
    width: 100%;
    max-width: 1200px;
    padding: 25px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.acoes-pagina{
    margin-bottom: -30px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

/* botões de ações */
.adicionar-botao{
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    color: #218838;
    text-decoration: none;
    transition: all 0.2s ease;
    border: solid 1px #218838;
}

.adicionar-botao:hover{
    background-color: #218838;
    color: #fff;
    cursor: pointer;
}

.visualizar-editar-botao{
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    color: #013e6f;
    text-decoration: none;
    transition: all 0.2s ease;
    border: solid 1px #013e6f;
}

.visualizar-editar-botao:hover{
    background-color: #013e6f;
    color: #fff;
}

.excluir-botao{
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    color: #cc0e01;
    text-decoration: none;
    transition: all 0.2s ease;
    border: solid 1px #cc0e01;
}

.excluir-botao:hover{
    background-color: #cc0e01;
    color: #fff;
}

.titulo-pagina{
    font-size: 24px;
    font-weight: 500;
    color: #1C4045;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1C4045;
}


/* tabelas */
.barra-pesquisa-default{
    display: flex;
    gap: 5px;
}

.barra-pesquisa-default input{
    width: 330px;
    padding: 6px 10px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.barra-pesquisa-default input::placeholder{
    color: #9b9b9b;
}

.barra-pesquisa-default input:focus::placeholder{
    color: #1C4045;
}

.barra-pesquisa-default input:focus{
    background-color: #fff;
    border-color: #1C4045;
}

.barra-pesquisa-default input:hover{
    cursor: text;
}

.pesquisar-btn{
    background-color: #1C4045;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pesquisar-btn:hover{
    border-radius: 5px;
}

.pesquisar-btn i{
    color: #ffffff;
    font-size: 16px;
}

.listagem-tabela table{
    border: solid 1px #EBEBEB;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.listagem-tabela table thead{
    background-color: #f2f2f2;
}

.listagem-tabela table thead th{
    color: #1C4045;
    font-weight: 400;
}

.listagem-tabela table th,
.listagem-tabela table td{
    padding: 10px 12px;
    vertical-align: middle;
    border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}

.listagem-tabela table tbody tr td{
    padding: 10px;
}

.listagem-tabela table tbody tr{
    transition: background 0.1s ease;
}
.listagem-tabela table tbody tr:hover{
    border-left: 2px solid #1C4045;
    background-color: #f2f2f2;
}

td a{
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}

td a:hover{
    color: #1C4045;
}

/* Formulários */
.form-default{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.form-default form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 15px;
    background-color: #F2F2F2;
    padding: 50px;
    border-radius: 7px;
}
.select2-container {
    width: 50% !important;
}

.form-default form select,
.form-default form textarea,
.form-default form input[type="date"],
.form-default form input[type="text"] {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 4px;
}

.form-default form select:focus,
.form-default form textarea:focus,
.form-default form input[type="text"]:focus {
    border-color: #1C4045;
    box-shadow: 0 0 0 0.5px rgba(28, 64, 69, 0.25);
}

.form-default form input[type="checkbox"]{
    accent-color: #1C4045;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.form-default form label{
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    color: #6B7280;
}

/* .botao-formulario-default{
    padding: 10px 12px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline: none;
    background-color: #013e6f;
} */

.adicionar-botao.form{
    width: 25%;
    margin-left: auto;
    margin-top: 10px;
}

.titulo-formulario-default{
    font-size: 21px;
    font-weight: 500;
    color: #1C4045;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1C4045;
}

.helptext {
    display: block;
    margin-top: 4px;
    color: #a10c0c; /* cinza neutro */
    font-size: 0.80rem;
}

/* Visualizações */
.container-visualizacao{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    padding-top: 15px; 
    padding: 50px; 
    border-radius: 7px;
}

.titulo-visualizacao{
    font-size: 21px;
    font-weight: 500;
    color: #1C4045;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1C4045;
}

.container-visualizacao-informacoes{
    padding: 30px;
    background-color: #fff;
    border: solid 1px #1C4045;
    border-radius: 7px;
    margin-bottom: 15px;
}

.label-visualizacao{
    font-size: 16px;
    display: block;
    margin-bottom: 3px;
    font-weight: 400;
    color: #3b3b3b;
}

.campo-visualizacao{
    font-size: 14px;
    margin-bottom: 35px;
    display: block;
    font-weight: 400;
    color: #000;
    padding-bottom: 10px;
    border-bottom: solid 2px #F2F2F2;
    transition: all 0.2s ease;
}

.campo-visualizacao:hover{
    font-size: 14.2px;
}

/* exclusão default */
.container-exclusao{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    padding-top: 15px; 
    padding: 50px; 
    border-radius: 7px;
}

.titulo-confirmacao{
    font-size: 21px;
    font-weight: 500;
    color: #1C4045;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1C4045;
}

.dados-afetados-exclusao{
    padding: 30px;
    background-color: #fff;
    border: solid 1px #1C4045;
    border-radius: 7px;
    margin-bottom: 15px;
}

.dados-afetados-exclusao p{
    margin-bottom: 10px;
    font-weight: bolder;
}

.dados-afetados-exclusao ul li{
    margin-bottom: 30px;
    margin-left: 30px;
}

.nenhum-dado-afetado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    border: solid 1px #1C4045;
    border-radius: 7px;
    margin-bottom: 15px;
}

.acoes-inferior-pagina{
    margin-bottom: -30px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

/* resultado nao encontrado na barra de pesquisa */
.container-resultado-nao-encontrado{
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 15px;
    padding: 50px;
    border-radius: 7px;
    border-left: 5px solid #CC0E01;
}

.msg-resultado-nao-encontrado{
    text-align: center;
    font-size: 16px;
    color: #CC0E01;
}