*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pagina-erro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-erros{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 9px;
}

.pagina-erro h1{
    margin-bottom: 50px;
    color: #1C4045;
    border: 1px solid #1C4045;
    background-color: transparent;
    padding: 30px;
    border-radius: 120px;
    font-size: 28px;
}

.container-erros h2{
    font-size: 22px;
}

.container-erros p{
    font-size: 16px;
    max-width: 520px;
    line-height: 1.6;
}

.links-redirect{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
}

.links-redirect a{
    font-style: none;
    color: rgb(111, 111, 111);
    transition: all 0.2s ease;
    margin-top: 35px;
    font-size: 14px;
    text-decoration: none;
}

.links-redirect a:hover{
    color: rgb(36, 36, 36);
}