{% extends 'base_site.html' %}
{% load static %}

{% block content %}
    {{ block.super }}

    {% if messages %}
        {% include 'messages.html' %}
    {% endif %}

    <div class="dashboard-container">

        <div class="card-container-dashboard">
            <h3 class="titulo-card-dashboard">Tarefas criadas por mim:</h3>
            <p id="tarefas_criadas_por_mim"></p>
        </div>

        <div class="card-container-dashboard">
            <h3 class="titulo-card-dashboard">Tarefas atribuídas a mim:</h3>
            <p id="tarefas_atribuidas_mim"></p>
        </div>

        <div class="card-container-dashboard">
            <h3 class="titulo-card-dashboard" id="minhas_equipes_titulo">Minhas equipes:</h3>
            <ul id="lista_equipes"></ul>
        </div>

        <div class="card-container-dashboard">
            <h3 class="titulo-card-dashboard" id="minhas_organizacoes_titulo">Minhas organizações:</h3>
            <ul id="lista_organizacoes"></ul>
        </div>
        
    </div>


{% endblock %}

{% block js_extra %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}