{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
</head>
<body>
    <h1>Bem vindo ao TaskTeam</h1>
    <p>Organize equipes, tarefas e responsabilidades em um só lugar.</p>

    <div class="container-onboarding">
        <h3>Vamos começar?</h3>
        <p>Escolha uma das opções abaixo para continuar.</p>
        
        <div class="container-cards-onboarding">

            <a href="" class="card-opcoes-onboarding">
                Criar uma organização
            </a>

            <a href="" class="card-opcoes-onboarding">
                Aguardando convite para uma organização
            </a>

        </div>

    </div>
</body>
</html>