{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
    {% block extra_css %}{% endblock %}
    
</head>
<body>
    <h1>{{ titulo }}</h1>
    <p>{{ subtitulo }}</p>

    {% block content %}
        <div class="container-onboarding">
            <h3>{{ titulo_container }}</h3>
            <p>{{ subtitulo_container }}</p>
            

            <div class="container-cards-onboarding">

                {% block cards %}
                    <a href="" class="card-opcoes-onboarding">
                        Criar uma organização
                    </a>

                    <a href="{% url 'exibir_codigo_convite_onboarding' %}" class="card-opcoes-onboarding">
                        Aguardando convite para uma organização
                    </a>
                {% endblock %}

            </div>
        </div>
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>