{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_cadastro_login.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{{ titulo_pagina }}</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="tela-box">
        <div class="box-esquerdo">
            <div class="box-esquerdo-textos">
                <h1 class="box-esquerdo-titulo">{{ titulo }}</h1>
                <p class="box-esquerdo-paragrafo">{{ paragrafo }}</p>
            </div>
        </div>

        <div class="box-direito">
            <h2 class="titulo-formulario">{{ titulo_form }}</h2>
            <div class="card-formulario">
                <form action="{% url url_view %}" method="POST">
                    {% csrf_token %}
                    {% block inputs %}{% endblock %}

                    {% if link_adicional %}
                        <a class="link-adicional" href="{% url url_link %}">{{ link_adicional }}</a>
                    {% endif %}

                    <div class="botoes-formulario">
                        {% block botoes %}{% endblock %}
                    </div>
                </form>

                {% if texto_divisor %}
                    <p class="texto-divisor">{{ texto_divisor }}</p>
                {% endif %}

                <div class="botoes-formulario">
                    {% block botoes_extras %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>