{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block title %}<title>Document</title>{% endblock %}

</head>
<body>
    <!-- sidebar base -->
    <div class="sidebar-box">
        <div class="sidebar-opcoes">
            <ul class="sidebar-menu-box">
                <li><a class="sidebar-opcao-primaria" href="">Dashboard</a></li>

                <li class="tem-submenu"><a class="sidebar-opcao-primaria" href="">Tarefas</a>
                    <ul class="sidebar-submenu">
                        <li><a href="{% url 'listagem_tarefas' %}">Minhas Tarefas</a></li>
                        <li><a href="">Criar Tarefa</a></li>
                    </ul>
                </li>

                <li class="tem-submenu"><a class="sidebar-opcao-primaria" href="">Tarefas</a>
                    <ul class="sidebar-submenu">
                        <li><a href="">Minhas Tarefas</a></li>
                        <li><a href="">Criar Tarefa</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>

    <!-- navbar base -->
    <div class="navbar">
        {% if hora_atual %}
            {% if hora_atual >= 6 and hora_atual <= 12 %}
                <h2 class="saudacao-navbar">Bom dia, Arthur!</h2>
            {% elif hora_atual >= 13 and hora_atual <= 17 %}
                <h2 class="saudacao-navbar">Bom tarde, Arthur!</h2>
            {% else %}
                <h2 class="saudacao-navbar">Boa noite, Arthur!</h2>
            {% endif %}
        {% endif %}

        <div class="navbar-icones">
            <a class="logout-icone" href="{% url 'logout_usuario' %}">
                <i class="fa fa-sign-out"></i>
                <span>Sair</span>
            </a>

            <a class="perfil-icone" href="{% url 'logout_usuario' %}">
                <i class="fa fa-user"></i>
                <span>Meu Perfil</span>
            </a>
        </div>
    </div>

    <main class="layout-conteudo-principal">
        <div class="conteudo-principal">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

<script>
    var opcoes_submenu = window.document.getElementsByClassName('tem-submenu');
    var menus_selecionados = window.document.getElementsByClassName('sidebar-opcao-primaria');

    for(var i = 0; i < opcoes_submenu.length; i++){
        opcoes_submenu[i].addEventListener("click", function abrir_submenus(e){
            e.preventDefault();
            this.classList.toggle('aberto');
        })
    }

    for(var j = 0; j < menus_selecionados.length; j++){
        menus_selecionados[j].addEventListener("click", function menu_aberto(e){
            e.preventDefault();
            this.classList.toggle('selecionado');
        })
    }
</script>
</html>