{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Carregar o CSS do Select2 do CDN -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    {% block title %}<title>Document</title>{% endblock %}

</head>
<body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">    
            $(document).ready(function() {        
                    $('.select2-widget').select2({            
                            minimumInputLength: 1        
                    });    
            });
    </script>

    <!-- sidebar base -->
    <div class="sidebar-box">
        <div class="sidebar-opcoes">
            <ul class="sidebar-menu-box">
                <li><a class="sidebar-opcao-primaria" href="">Dashboard</a></li>

                <li class="tem-submenu"><a class="sidebar-opcao-primaria" href="">Tarefas</a>
                    <ul class="sidebar-submenu">
                        <li><a href="{% url 'listagem_tarefas' %}">Minhas Tarefas</a></li>
                        <li><a href="{% url 'adicionar_tarefa' %}">Nova Tarefa</a></li>
                    </ul>
                </li>

                <li class="tem-submenu"><a class="sidebar-opcao-primaria" href="">Equipes</a>
                    <ul class="sidebar-submenu">
                        <li><a href="">Equipes</a></li>
                        <li><a href="{% url 'adicionar_equipe' %}">Nova Equipe</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>

    <!-- navbar base -->
    <div class="navbar">
        <h2 class="saudacao-navbar">Olá, {{ request.user.nome|title }}!</h2>
        
        <div class="navbar-icones">
            <a class="logout-icone" href="{% url 'logout_usuario' %}">
                <i class="fa fa-sign-out"></i>
                <span>Sair</span>
            </a>

            <a class="perfil-icone" href="{% url 'logout_usuario' %}">
                <i class="fa fa-user"></i>
                <span>Meu Perfil</span>
            </a>
        </div>
    </div>

    <main class="layout-conteudo-principal">
        <div class="conteudo-principal">
            {% block content %}

                <div class="acoes-pagina">
                    {% block acoes %}
                        {% for botao in botoes %}
                            <!-- ícone -->
                            {% if botao.classe_icone %}
                                <a href="{% url botao.url botao.id_item %}" class="{{ botao.classe }}">
                                    <i class="{{ botao.classe_icone }}"></i>
                                </a>
                            {% else %}
                                <!-- link que necessita de id de objeto -->
                                {% if botao.id_item %}
                                    <a href="{% url botao.url botao.id_item %}" class="{{ botao.classe }}">{{ botao.nome }}</a>
                                {% else %}

                                <!-- link que NÃO necessita de id de objeto -->
                                <a href="{% url botao.url %}" class="{{ botao.classe }}">{{ botao.nome }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </div>
            
                {% if titulo %}
                    <h2 class="titulo-pagina">{{ titulo }}</h2>
                {% endif %}
            {% endblock %}
        </div>
    </main>
</body>

<script>
    var opcoes_submenu = window.document.querySelectorAll('.tem-submenu > .sidebar-opcao-primaria');

    for(var i = 0; i < opcoes_submenu.length; i++){
        opcoes_submenu[i].addEventListener("click", function abrir_submenus(e){
            e.preventDefault();
            this.parentElement.classList.toggle('aberto');
        })
    }
</script>
{% block js_extra %}{% endblock %}
</html>