{% extends 'base_site.html' %}

{% block content %}
    {{ block.super }}

    <!-- {% if messages %}
        {% include 'messages.html' %}
    {% endif %} -->

    {% block form %}
        <div class="form-default">
            <form action="{% if id_url %}{% url url_view id_url %}{% else %}{% url url_view %}{% endif %}" method="POST">
                {% if titulo_formulario %}
                    <h3 class="titulo-formulario-default">{{ titulo_formulario }}</h3>
                {% endif %}

                {% csrf_token %}
                {% block inputs %}{% endblock %}
                <button type="submit" class="adicionar-botao form">{{ titulo_botao_form }}</button>
            </form>
        </div>
    {% endblock %}
{% endblock %}