{% extends 'base_site.html' %}

{% block content %}
    {{ block.super }}

    {% block form %}
        <div class="form-default">
            <form action="{% url url_view %}" method="POST">

                {% if titulo_formulario %}
                    <h3 class="titulo-formulario-default">{{ titulo_formulario }}</h3>
                {% endif %}

                {% csrf_token %}
                {% block inputs %}{% endblock %}
            </form>
        </div>
    {% endblock %}
{% endblock %}