{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="msg-erro">
            {{ message }}
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
        </div>

    {% elif message.tags == "success" %}
        <div class="msg-sucesso">
            {{ message }}
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
        </div>

    {% else %}
        <div class="alert alert-info alert-dismissible fade show alert-default" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}
{% endfor %}