    <dialog id="equipe_erro">
        <div class="modal-container-externo">
            <div class="modal-container-interno">
                <h3 class="titulo-modal">{{ titulo_modal }}</h3>
                <p class="paragrafo-modal">{{ paragrafo_modal }}</p>

                <div class="modal-botoes">
                    <a href="" class="excluir-botao" id="botao-fechar">Agora não</a>
                    <a href="" class="visualizar-editar-botao">Ver planos</a>
                </div>
            </div>
        </div>
    </dialog>