{% extends 'base_site.html' %}

<!-- tabela default é o template utilizado por todo o sistema quando se trata de LISTAGEM de itens -->
 
{% block content %}
    {{ block.super }}

    {% if messages %}
        {% include 'messages.html' %}
    {% endif %}

    {% block pesquisa %}
        <form action="{% url url_pesquisa %}" method="GET">
            <div class="barra-pesquisa-default">
                <input type="text" placeholder="Pesquisar" name="q">
                <button type="submit" class="pesquisar-btn">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    {% endblock %}

    <section>
        <div class="listagem-tabela">
            <table>
                <thead>
                    <tr>
                        {% block tabela_head %}
                        {% endblock %}
                    </tr>
                </thead>

                <tbody>
                    {% block tabela_body %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
        {% block paginacao %}
        {% endblock %}
    </section>
{% endblock %}