{% extends 'base_site.html' %}

<!-- tabela default é o template utilizado por todo o sistema quando se trata de LISTAGEM de itens -->
 
{% block content %}
    <h2 class="titulo-pagina">{{ titulo }}</h2>

    {% block pesquisa %}
        <form action="{% url url_pesquisa %}" method="GET">
            <div class="barra-pesquisa-default">
                <input type="text" placeholder="Pesquisar" name="q">
            </div>
        </form>
    {% endblock %}

    <section>
        <div class="listagem-tabela">
            <table>
                <thead>
                    <tr>
                        {% block tabela_head %}
                        {% endblock %}
                    </tr>
                </thead>

                <tbody>
                    {% block tabela_body %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
        {% block paginacao %}
        {% endblock %}
    </section>
{% endblock %}