{% extends 'tabela_default.html' %}

{% block tabela_head %}
    {% for cabecalho in cabecalhos %}
        <th>{{ cabecalho }}</th>
    {% endfor %}
{% endblock %}

{% block tabela_body %}
    {% if equipes %}
        {% for equipe in equipes %}
            <tr>
                <td style="text-align: center; padding: 15px;">
                    {% if equipe.eh_membro %}
                        <a href="{% url 'visualizar_equipe' equipe.pk %}" class="adicionar-participante-icone">
                            <i class="fa fa-eye"></i>
                        </a>
                    {% endif %}
                </td>
                
                <td><a href="{% if equipe.eh_membro %}{% url 'visualizar_equipe' equipe.pk %}{% endif %}">{{ equipe.nome|capfirst }}</a></td>
                <td>{{ equipe.criada_por }}</td>
                <td>{{ equipe.organizacao }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5" class="sem-itens-listar">Nenhuma equipe encontrada.</td>
        </tr>
    {% endif %}
{% endblock %}